<div style="text-align: right;"><a href="http://ashertheme.com/docs/grace/index.html" target="_blank"><img width=200 src="view/image/grace.png"><p>Click Here To Install Theme Like Demo (Theme Documentation)</p></a><div>
<footer id="footer">{{ text_footer }}<br />{{ text_version }}</footer></div>
</body></html>
